<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    <title>classified tweets</title>
</head>
<body>
    <div class="container-full">
        <div class="row">
            <div class="col-lg-12 text-center v-center">
                <h1>Tweets matching Fashion Keyword search </h1>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="container col-lg-2 ">
                </div>
                <div class="container col-lg-8 ">
                    <table class="table table-bordered table-hover text-center " id="results">
                        <thead>
                            <tr>
                                <th>User Handle</th>
                                <th>Tweet Text</th>
                                <th>Prediction</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tweet in tweets %}
                            <tr>
                                <td>{{ tweet.user }}</td>
                                <td>{{ tweet.text }}</td>
                                <td>{{ tweet.predictions }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tf>

                        </tf>
                    </table>

                </div>
                <div class="container col-lg-2 ">
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"</script>
    <script type="text/javascript" charset="utf8"src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.bootstrap.min.js') }}"></script>
    <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
    <script> $('#results').dataTable() </script>

</body>
</html>
